:root {
  --active-link-color: #969694;
  --active-link-color-hover: #daa556;
  --main-font: serif;
}

.navbar-links {
  display: flex;
}

.navbar-links ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navbar-links li {
  padding: 0;
  margin: 0;
}

.navbar-links.horizontal ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar-links.horizontal li {
  margin: 0;
  padding: 0;
}

.navbar-links.horizontal li a {
  font-family: var(--main-font);
  font-size: 1rem;
}

.navbar-links li a:hover {
  color: var(--active-link-color-hover);
}

.navbar-links a {
  color: var(--active-link-color);
}

.navbar-links a.active-link {
  color: var(--active-link-color-hover);
}
