.header-container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid BLACK;
  padding: 1rem 1rem;
  top: 0;
  position: sticky;
  background: WHITE;
}

/* LOGO */
.left-elements {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.5rem;
}

.store-title {
  font-weight: bold;
}

/* MIDDLE */
.search-container {
  width: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid BLACK;
  font-size: 1.5rem;
}

.search-container input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

/* RIGHT SIDE */
.right-elements {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.5rem;
}

.user {
  margin-right: 1rem;
}
