.navbar-links {
  display: flex;
}

.navbar-links ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 2rem;
}

.navbar-links li a:hover {
  color: red;
}

.navbar-links a {
  color: black;
}

.active-link {
  color: red;
  font-weight: bold;
}
